* {
	box-sizing: border-box;
}

body {
	color: #444;
	font-family: 'Roboto', sans-serif;
	padding: 0 24px;
}

a {
	color: #666;
	text-decoration: none;

	&:hover {
		color: #F44336;
	}
}

img {
	max-width: 100%;
}