.site-nav {
	margin: 24px 0 36px;
}
.site-title {
	font-family: 'Permanent Marker', cursive;
	margin: 0 0 24px;
}

.navigation-items {
	display: flex;

	&__item {
		margin-right: 24px;

		&:last-child {
			margin: 0;
		}

		a {
			font-family: 'Permanent Marker', cursive;
			font-size: 18px;
		}
	}
}