<div class="photo">
    <img class="photo__img" src="/media/{{ photo.file }}" alt="{{ photo.title }}">
    {% if show_title %}
    <strong class="photo__title">{{ photo.title }}</strong>
    <div class="photo__description">{{ photo.description|linebreaks }}</div>
    {% endif %}
</div>
