{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"  data-dynamic="true">
    <title>Magda Manzano-Oller</title>

    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/magda-photography.css' %}">
</head>
<body>
    <nav class="site-nav">
        <h1 class="site-title">Magda Manzano-Oller</h1>
        <ul class="navigation-items">
            <li class="navigation-items__item">
                <a href="{% url 'public:home' %}">Home</a>
            </li>
            {% for page in pages %}
            <li class="navigation-items__item">
                <a href="{% url 'public:page' page.slug %}">{{ page.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>

    {% block content %}{% endblock content %}
</body>
</html>