{% extends 'public/base.html' %}
{% load static %}

{% block content %}
    <ul class="promoted-photos">
    {% for photo in homepage.promoted_photos %}
    <li>
        {% include 'public/includes/photo.html' %}
    </li>
    {% endfor %}
    </ul>

{% endblock content %}