{% extends 'public/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <ul>
    {% for photo in page.photos %}
    <li>
        {% include 'public/includes/photo.html' with show_title=True %}
    </li>
    {% endfor %}
    </ul>

{% endblock content %}